{% extends './main.html' %}

{% block body %}
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-3">
                                <a href="{% url 'store' %}" class="btn btn-secondary"> <i class="fa fa-angle-left"></i> Continue Shopping</a>
                            </div>
                            <div class="">
                                <table class="table table-hover table-bordered text-center">
                                    <thead>
                                        <tr>
                                            <th>Product Image</th>
                                            <th>Item</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in items %}
                                        <tr>
                                            <td><img class="img-thumbnail" src="{{ item.product.imageURL }}" style="width: 50px; height: 50px;" alt=""></td>
                                            <td>{{ item.product.name }}</td>
                                            <td>{{ item.product.price|floatformat:2 }}</td>
                                            <td>
                                                <a data-product={{ item.product.id }} data-action="remove" class="text-warning mr-2 update-cart"><i class="fa fa-minus"></i></a>
                                                {{ item.quantity }}
                                                <a data-product={{ item.product.id }} data-action="add" class="text-info ml-2 update-cart"><i class="fa fa-plus"></i></a>
                                            </td>
                                            <td>{{ item.get_total|floatformat:2 }}</td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <th>Grand Total:</td>
                                            <th>{{ order.get_cart_items }}</td>
                                            <th>{{ order.get_cart_total|floatformat:2 }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock body %}