{% extends './main.html' %}

{% block body %}
        <div class="container-fluid">
            <div class="row">
                {% for product in products %}
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <img class="img-fluid" src="{{ product.imageURL }}" alt="">                            
                            <h5 class="mt-2"><a class="text-info" href="">{{ product.name }}</a></h5>
                            <hr>
                            <button data-product="{{ product.id }}" data-action="add" class="btn btn-info update-cart">Add to Card</button>
                            <a href="" class="btn btn-outline-secondary">View</a>
                            <h5 class="text-info" style="float: right;">{{ product.price }} tk</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock body %}